{% extends 'pass_the_booking/base.html' %}

{% block content %}

  <div>
    <p>address: {{ property.address }}</p>
    <p>host: <a href="{% url 'client_detail' pk=property.client.pk %}">{{ property.client.name }}</a></p>
    <p>£{{ property.price }} a night</p>
    <p>{{ property.bedrooms }} bedrooms</p>
    <p>internet?  {% if property.internet == True %}yes{% else %}no{% endif %}</p>
  </div>

  <div>
    <p>bookings:</p>
      {% for booking in bookings %}
        <p><a href="{% url 'booking_detail' pk=booking.pk %}">{{ booking.guest_name }} ({{ booking.check_in}}-{{ booking.check_out }})</a></p>
      {% endfor %}
  </div>

  <div>
    <a href="{% url 'booking_new' pk=property.pk %}">add a booking for this property</a>
    <p><a href="{% url 'property_edit' pk=property.pk %}">edit property details</a></p>
    <p><a href="{% url 'property_delete' pk=property.pk %}">delete this property from database</a></p>
  </div>

{% endblock %}
