{% extends 'pass_the_booking/base.html' %}

{% block content %}

  <div class='main'>

    <div>
      <p class='subtitle'>Address: {{ property.address }}</p>
      <p>Host: <a href="{% url 'client_detail' pk=property.client.pk %}">{{ property.client.name }}</a></p>
      <p>£{{ property.price }} a night</p>
      <p>{{ property.bedrooms }} bedrooms</p>
      <p>Internet?  {% if property.internet == True %}yes{% else %}no{% endif %}</p>
    </div>

    <div>
      <p class='subtitle'>Bookings:</p>
      <p>(Select a booking to see details.)</p>
        {% for booking in property.booking_set.all %}
          <p><a href="{% url 'booking_detail' pk=booking.pk %}">{{ booking.guest_name }} ({{ booking.check_in}}-{{ booking.check_out }})</a></p>
        {% endfor %}
    </div>

  </div>

  <div class='bottom-navbar'>
    {% if user.is_authenticated %}
    <p><a href="{% url 'booking_new' pk=property.pk %}">Add a booking for this property</a></p>
    <p><a href="{% url 'property_edit' pk=property.pk %}">Edit property details</a></p>
    <p><a href="{% url 'property_delete' pk=property.pk %}">Delete this property from database</a></p>
    {% endif %}
  </div>

{% endblock %}
