{% extends 'pass_the_booking/base.html' %}

{% block content %}

  <div>
    <p>{{ client.name }}</p>
    <p>D.O.B: {{ client.dob }}</p>
    <p>email: {{ client.email }}</p>
    <p>telephone: {{ client.telephone }}</p>
  </div>

  <div>
    <p>properties:</p>
    {% for property in properties %}
      <p><a href="{% url 'property_detail' pk=property.pk %}">{{ property.address }}</a></p>
    {% endfor %}
  </div>

  <div>
    <p><a href="{% url 'property_new' pk=client.pk %}">add a property for this client</a></p>
    <p><a href="{% url 'client_edit' pk=client.pk %}">edit client details</a></p>
    <p><a href="{% url 'client_delete' pk=client.pk %}">delete this client from database</a></p>
  </div>

{% endblock %}
