{% load staticfiles %}

<html>
  <head>
    <title>pass the booking</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/pass_the_booking.css' %}">
  </head>

  <body>
    <p>welcome to pass the booking</p>
    <p><a href="{% url 'client_list' %}">all clients</a></p>
    <p>click here to see all existing clients, and to add properties and bookings.</p>
    <p><a href="{% url 'property_list' %}">all properties</a></p>
    <p>click here to see all existing properties, and to add bookings.</p>
    <p><a href="{% url 'booking_list' %}">all bookings</a></p>
    <p>click here to see all existing bookings.</p>
  </body>
</html>
