{% load staticfiles %}

<html>
  <head>
    <title>pass the booking</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/pass_the_booking.css' %}">
  </head>

  <body>

    <div class='navbar'>

    <p>Welcome to Pass the Booking</p>

    <p>
      {% if user.is_authenticated %}
        <a href='{% url 'logout' %}'> Log out</a>
      {% else %}
        <a href='{% url 'login' %}'> Log in</a> / <a href='{% url 'signup' %}'>Sign up</a>
      {% endif %}
    </p>

    </div>

    <div class='main'>

      <p><a href="{% url 'client_list' %}">All clients</a></p>
      <p><a href="{% url 'property_list' %}">All properties</a></p>
      <p><a href="{% url 'booking_list' %}">All bookings</a></p>

    </div>

  </body>
</html>
