{% extends 'pass_the_booking/base.html' %}

{% block content %}

  <div class='main'>

    <form method='post'>{% csrf_token %}
      {{ form.as_p }}
      <button class='booking-button' type='submit'>Save</button>
    </form>

  </div>

  <script>
    $(function() {
      $( ".datepicker" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1920:2017",
        dateFormat: "yy-mm-dd",
        maxDate: 0
      });
    });
  </script>

  <script>
     $(document).ready(function() {
       $(function() {
         $('.booking_datepicker').datepicker({
           changeMonth: true,
           changeYear: true,
           minDate: 0,
           dateFormat: "yy-mm-dd",
           beforeShowDay: function(date) {
             var disableddates = []
             {% for x in property.unavailable_dates %}
               disableddates.push(String({{x}}))
             {% endfor %}
             var string = jQuery.datepicker.formatDate('yymmdd', date);
             return [ disableddates.indexOf(string) == -1 ]
           }
         })
       })
     })
  </script>

{% endblock %}
