{% extends 'pass_the_booking/base.html' %}

{% block content %}

  <div class='main'>

    <div>
      <p class='subtitle'>{{ client.name }}</p>
      <p>D.O.B: {{ client.dob }}</p>
      <p>Email: {{ client.email }}</p>
      <p>Telephone number: {{ client.telephone }}</p>
    </div>

    <div>
      <p class='subtitle'>Properties:</p>
      <p>(Select a property to see details or add a booking.)</p>
      {% for property in properties %}
        <p><a href="{% url 'property_detail' pk=property.pk %}">{{ property.address }}</a></p>
      {% endfor %}
    </div>

  </div>

  <div class='bottom-navbar'>
    {% if user.is_authenticated %}
      <p><a href="{% url 'property_new' pk=client.pk %}">Add a property for this client</a></p>
      <p><a href="{% url 'client_edit' pk=client.pk %}">Edit client details</a></p>
      <p><a href="{% url 'client_delete' pk=client.pk %}">Delete this client from database</a></p>
    {% endif %}
  </div>

{% endblock %}
