{% extends 'pass_the_booking/base.html' %}

{% block content %}

  <div class='main'>

    <p>Client details:</p>

    <form method='post'>{% csrf_token %}
      <p>
        {{ form.name.errors }}
        <label for="{{ form.name.id_for_label }}">Name:</label>
        {{ form.name }}
      </p>
      <p>
        {{ form.email.errors }}
        <label for="{{ form.email.id_for_label }}">Email:</label>
        {{ form.email }}
      </p>
      <p>
        {{ form.dob.errors }}
        <label for="{{ form.dob.id_for_label }}">D.O.B.:</label>
        {{ form.dob }}
      </p>
      <p>
        {{ form.telephone.errors }}
        <label for="{{ form.telephone.id_for_label }}">Telephone number:</label>
        {{ form.telephone }}
      </p>
      <p>
        <button type='submit' class='booking-button'>Save</button>
      </p>
    </form>

  </div>

  <script>
    $(function() {
      $( "#id_dob" ).datepicker({
        changeMonth: true,
        changeYear: true,
        yearRange: "1920:2017",
        dateFormat: "yy-mm-dd",
        maxDate: 0
      });
    });
  </script>

{% endblock %}
