{% extends 'pass_the_booking/base.html' %}

{% block content %}

    <form method='post'>{% csrf_token %}
      {{ form.name.errors }}
      <label for="{{ form.name.id_for_label }}">name:</label>
      {{ form.name }}
      {{ form.email.errors }}
      <label for="{{ form.email.id_for_label }}">email:</label>
      {{ form.email }}
      {{ form.dob.errors }}
      <label for="{{ form.dob.id_for_label }}">d.o.b.:</label>
      {{ form.dob }}
      {{ form.telephone.errors }}
      <label for="{{ form.telephone.id_for_label }}">telephone number:</label>
      {{ form.telephone }}
      <button type='submit'>save</button>
    </form>

    <script>
      $(function() {
        $( ".datepicker" ).datepicker({
          changeMonth: true,
          changeYear: true,
          yearRange: "1950:2017",
          dateFormat: "yy-mm-dd"
        });
      });
    </script>

{% endblock %}
