{% extends 'pass_the_booking/base.html' %}

{% block content %}

  <p class='subtitle'>Booking details:</p>

  <div class='main'>
    <p>Property: <a href="{% url 'property_detail' pk=booking.property.pk %}">{{ booking.property.address }}</a></p>
    <p>Host: <a href="{% url 'client_detail' pk=booking.property.client.pk %}">{{ booking.property.client.name }}</a></p>
    <p>Guest: {{ booking.guest_name }}</p>
    <p>{{ booking.guest_name }}'s email: {{ booking.guest_email }}</p>
    <p>Check in: {{ booking.check_in }}</p>
    <p>Check out: {{ booking.check_out }}</p>
    <p>Total price: £{{ booking.total_price }} </p>
  </div>

  <div class='bottom-navbar'>
    {% if user.is_authenticated %}
      <p><a href="{% url 'booking_edit' pk=booking.pk %}">Edit booking details</a></p>
      <p><a href="{% url 'booking_delete' pk=booking.pk %}">Delete this booking from database</a></p>
    {% endif %}
  </div>

{% endblock %}
