{% extends 'pass_the_booking/base.html' %}

{% block content %}

  <div class='main'>

    <p>Booking details:</p>

    <form method='post'>{% csrf_token %}
      <p>
        {{ form.guest_name.errors }}
        <label for="{{ form.guest_name.id_for_label }}">Guest name:</label>
        {{ form.guest_name }}
      <p>
      </p>
        {{ form.guest_email.errors }}
        <label for="{{ form.guest_email.id_for_label }}">Guest email:</label>
        {{ form.guest_email }}
      <p>
      </p>
        {{ form.check_in.errors }}
        <label for="{{ form.check_in.id_for_label }}">Check in date:</label>
        {{ form.check_in }}
      <p>
      </p>
        {{ form.check_out.errors }}
        <label for="{{ form.check_out.id_for_label }}">Check out date:</label>
        {{ form.check_out }}
      <p>
      </p>
       <button class='booking-button' type='submit'>Save</button>
      <p>
     </form>

  </div>

   <script>
    $(document).ready(function() {
      $(function() {
        $('.booking_datepicker').datepicker({
          changeMonth: true,
          changeYear: true,
          minDate: 0,
          dateFormat: "yy-mm-dd",
          beforeShowDay: function(date) {
            var disableddates = []
            {% for x in property.unavailable_dates %}
              disableddates.push(String({{x}}))
            {% endfor %}
            var string = jQuery.datepicker.formatDate('yymmdd', date);
            return [ disableddates.indexOf(string) == -1 ]
          }
        })
      })
    })

</script>

{% endblock %}
